body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  width: 80px;
  height: 50px;
  color: hotpink;
  background-color: limegreen;
  border-color: hotpink;
}

.grid-container {
  width: 960px;
  height: 960px;
  flex: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 0;
  padding: 0;
  gap: 0;
}

.cell {
  margin: 0;
  padding: 0;
  background-color: blue;
}
