body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

button {
  width: 80px;
  height: 50px;
  color: coral;
  background-color: lightgreen;
  border-color: coral;
  flex: none;
}

.options {
  display: flex;
  justify-content: center;
  align-items: center;
}

.warning {
  text-align: center;
}

.grid-container {
  width: 960px;
  height: 960px;
  flex: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 0;
  padding: 0;
  gap: 0;
}

.cell {
  margin: 0;
  padding: 0;
  background-color: blue;
}
