body {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  width: 50px;
  height: 30px;
}

.grid-container {
  width: 960px;
  height: 960px;
  flex: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 0;
  padding: 0;
  gap: 0;
}

.cell {
  margin: 0;
  padding: 0;
  /* border: 1px solid black; */
  background-color: blue;
}
